
body {  
    background: #CFCFCF;
}

body > div {
    width: 50%;
}  

button {
    margin: 15px 0;
}
       
#drag-area {
    width: 400px;
    height: 100px;
    background: #999999;
    padding: 40px 0;
    border: 2px dashed #7F7F7F;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.hover {
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 10px rgba(51, 0, 153, 1);
}

.center {
    margin: 0 auto;
}
